<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Lista de autores</title>
    </head>
    <body>
        <h1>Autores Registrados</h1>
        <table border="2">
            <thead>
                <td>ID</td>
                <th>Nombres</th>
                <th>Nacionalidad</th>
                <th>Accion</th>
            </thead>
            <tbody>
               {% for a in autores %}
               <tr>
                    <td>{{a.id}}</td>
                    <td>{{a.nombre}}</td>
                    <td>{{a.nacionalidad}}</td>
                    <td><a href="{% url 'biblioteca_app:lista-libros' a.id %}">Ver Libros</a></td>
                </tr>

               {% endfor %}
            </tbody>
        </table>
    </body>
</html>